{% extends "base.html" %}

{% block page_content %}
    <h1>Projects</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}
            <div class="col">
                <div class="card {% if forloop.counter == 2 or forloop.counter == 3 %}h-100{% endif %}">
                    {% if project.image %}
                        <div style="height: 200px; overflow: hidden;">
                            <img class="card-img-top" src="{{ project.image.url }}" style="object-fit: cover; height: 100%;">
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
